@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { /*Reset eementos*/
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex; /*Tira a bolinha do item da lista junto com o meu margin: auto*/
    gap: 1.2rem; /*Espaco entre os itens*/
    margin: 16px 0px; /* Espaçamento entre os links dentro da lista */
    /*height: 100px; /*Altura*/
    /*padding: 10px; /* Adiciona espaçamento em cima */
}


/*#links, #redes {
    display: flex; /* Garante que os itens dentro dos ul fiquem lado a lado 
    list-style-type: none; Remove os marcadores 
}*/

li{ /*São meus links para as paginas do site*/
    padding: 16px 0;
    display: flex;
    gap: 1.2rem;
    list-style: none; 
}

/*Ajuste nos links das paginas*/
#links{
    margin: 0;
    display: flex;
    vertical-align: middle;
}

/**Ajuste nas redes que é o git e o insta*/
#redes{
    display: flex;
    margin: 0 0 0 auto;
    vertical-align: middle;
}/*

/*Arrumando tamanho imagem git*/
.logo_git{
    width: 28px;
   /* height: auto; /*altura automatica */
}

/*Arrumando tamanho imagem insta*/
.logo_insta{
    width: 28px; /*Largura */
    /*height: auto; /*altura automatica */
}

.logo_linkedin{
    width: 28px; /*Largura*/
    /*height: auto; /*altura automatica*/
}

/* ajuste para tela menores */
@media (max-width: 600px) {
    header {
        flex-direction: row; /* Mantém os itens lado a lado em telas pequenas */
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
        gap: 20px; /* Menor espaçamento entre os grupos */
        flex-direction: row; /* Mantém os itens lado a lado em telas pequenas 
        height: auto; /* Permite que a altura se ajuste ao conteúdo 
        gap: 20px; /* Menor espaçamento entre os grupos */
    }
    #links, #redes {
        flex-direction: row; /* Mantém os itens lado a lado */
        justify-content: center; /* Centraliza os itens */
        flex-direction: row; /* Mantém os itens lado a lado 
        justify-content: center; /* Centraliza os itens 
        margin-top: 30px*/
    }
}



/*body{
    display: flex; /* Um item na frente do outro
    flex-direction: column; /*deixa os itens em colunas, um abaixo do outro */
    /*max-width: 720px; /*Define uma largura maxima 
    min-height: 100vh; /*define uma altura minima 
    margin: 0 auto;
    line-height: 1.6; /*Altura entre os itens 
    padding: 0 2rem;
}*/

hr {
    border: 0; /* Remove a borda padrão */
    height: 1px; /* Define a altura da linha */
    background-color: #333; /* Define a cor da linha */
    width: 100%; /* Define a largura da linha (50% da largura da tela) */
    margin: 20px auto; /* Centraliza a linha na página com margens de 20px acima e abaixo */
}

body{
    max-width: 720px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 0 2rem;

    font-family: 'Roboto', sans-serif; /* Fonte aplicada */
    font-weight: 100; /* Peso da fonte mais fino */
    font-size: 16px; /* Tamanho de fonte fixo */
}

footer{
    position: relative;  /* Torna o footer fixo */
    bottom: 0;        /* Alinha o footer ao fundo da página */
    left: 0;          /* Alinha à esquerda */
    width: 100%;      /* Faz com que o footer ocupe toda a largura da página */
    /*background-color: #333; /* Cor de fundo do footer */
    /*color: white;     /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding-top: 220px;  /* Espaçamento dentro do footer */
}

