/*Reset css*/
* {
    margin: 0px; /*margem*/
    padding: 0px; /*"Paragrafo"*/
    border: none; /*sem bordas nenhuma*/
    box-sizing: border-box; /*pesquisar na net*/
}

header{
    display: flex;
    justify-content: center;
}

#my{
    margin: 0 25px;
}
/*upload de arquivos no GitHub

    git init //iciar git
    git add .
    git commit -m "seu comentario"
    git push

    git remote add origin git@github.com:usuario/repositoriogithub.git
    git push origin master

    <!-- Link to an external website -->
    <a href="https://www.example.com">Visit Example.com</a>

    <!-- Link to an email address -->
    <a href="mailto:someone@example.com">Send an email</a>

    <!-- Link to a phone number -->
    <a href="tel:+1234567890">Call us</a>

    <!-- Link to a section on the same page --> 
    <a href="#section-id">Jump to section</a>
*/